body {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Arial', sans-serif;
  padding-bottom: 150px;
}

h1 {
  color: #00b1c9ea
}

.red-title{
  background-color: salmon;
  color: brown;
  padding: 30px;
}

.title {
  background-color: aqua;
  color: darkslateblue;
  padding: 30px;
}